@model WebNails.Models.MessageModel

<section class="send-contact py-5" id="message_request">
    <div class="container-xl">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center mb-5">
                <h1 class="fs-1 color-theme fw-bold"><span class="font-Parisienne">Interested in Our Courses?</span></h1>
                <p>
                    If you're interested in one of our programs, please let us<br />
                    know which program, and we'll get back to you soon.
                </p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-10">
                <form id="frmSendMessage" method="post">
                    <div class="row justify-content-center">
                        <div class="col-md-5 my-3">
                            @Html.TextAreaFor(model => model.YourMessage, new { @class = "form-control", rows = "8", required = "required", placeholder = "Tell us about your request", style = "height: 200px;" })
                        </div>
                        <div class="col-md-5 my-3">
                            <p>@Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Subject" } })</p>
                            <p class="mt-3">@Html.EditorFor(model => model.YourName, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Your name" } })</p>
                            <p class="mt-3">@Html.EditorFor(model => model.YourEmail, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Your email", type = "email" } })</p>
                            <p class="mt-3">@Html.EditorFor(model => model.YourPhone, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Your phone number", type = "tel" } })</p>
                        </div>
                        <div class="col-md-10 my-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="Agreement" required>
                                <label class="form-check-label form-label" for="Agreement">
                                    I agree with the <a class="link-dark text-decoration-underline" target="_blank" href="https://www.ueni.com/en-us/terms?_ga=2.66700910.1945820625.1699201840-1173823991.1699201840">Terms & Conditions</a> and the <a class="link-dark text-decoration-underline" target="_blank" href="https://www.ueni.com/en-us/privacy">Privacy & Cookies Policy</a> of UENI and any applicable Terms and Conditions of 89 Beauty School. This site is protected by reCAPTCHA and the Google <a class="link-dark text-decoration-underline" target="_blank" href="https://policies.google.com/privacy">Privacy Policy</a> and <a class="link-dark text-decoration-underline" target="_blank" href="https://policies.google.com/terms">Terms of Service</a> apply.
                                </label>
                            </div>
                        </div>
                        <div class="col-md-12 text-center my-3">
                            <button type="submit" class="btn btn-primary btn-theme">Send Message</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>