@using WebNails.Models
@model IEnumerable<WebNails.Models.InfoPaypal>

@{
    var indexCurrent = WebNails.Utilities.PagingHelper.CurrentIndex(WebNails.Utilities.PagingHelper.CountSort, WebNails.Utilities.PagingHelper.PageIndex);
}

<div class="row">
    <div class="col-md-12">
        <div class="table-responsive table-primary">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Date</th>
                        <th>Transaction</th>
                        <th style="width:250px;">Buyer</th>
                        <th style="width:250px;">Receiver</th>
                        <th style="width:100px; white-space:nowrap;">Amount Paid</th>
                        <th>Status</th>
                        <th>Completed</th>
                        <th style="width:100px; white-space:nowrap;">Code Sale</th>
                        <th style="width:150px; white-space:nowrap;">Gift Card Value</th>
                        <th>Description</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@indexCurrent</td>
                            <td>@(string.Format("{0:MM/dd/yyyy}", item.DateTimeCreate))</td>
                            <td>@(item.Transactions)</td>
                            <td>@(item.NameBuyer) - @(item.Email)</td>
                            <td>@(item.NameReceiver) - @(item.Stock)</td>
                            <td>@(string.Format("${0}",item.Amount))</td>
                            <td>
                                @if (item.Status == PaymentStatus.Success)
                                {
                                    <span class="badge bg-success">Success</span>
                                }
                                else if(item.Status == PaymentStatus.Pending)
                                {
                                    <span class="badge bg-danger">Pending</span>
                                }
                            </td>
                            <td>
                                @if (item.IsUsed) 
                                {
                                    <i class="fa fa-check-square-o"></i>
                                }
                                else if(item.Status == PaymentStatus.Success)
                                { 
                                    <a href="javascript:void(0)" onclick="UpdateCompleted('@item.ID')">
                                        <i class="fa fa-square-o"></i>
                                    </a>
                                }
                            </td>
                            <td>@(item.CodeSaleOff)</td>
                            <td>@(item.AmountReal > 0 ? string.Format("${0:N2}", item.AmountReal) : string.Format("${0:N2}", item.Amount))</td>
                            <td>@(item.ValidCode > 0 || !string.IsNullOrEmpty(item.DescriptionValidCode) ? item.DescriptionValidCode : "")</td>
                            <td class="send-mail">
                                @if (item.Status == PaymentStatus.Pending)
                                {
                                    <a class="btn btn-warning" id="btnSendMail" href="javascript:void(0)" onclick="SendMail('@item.ID')" style="display:none;">
                                        Send email
                                    </a>
                                    <div class="form-check form-switch pt-2">
                                        <input class="form-check-input" type="checkbox" role="switch" id="switchShowHideSendMail" data-show-hide="0" onchange="ShowHideSendMail(this)">
                                        <label class="form-check-label text-nowrap" for="switchShowHideSendMail">Show/Hide Send Mail</label>
                                    </div>
                                }
                            </td>
                        </tr>
                        indexCurrent++;
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 text-left">
        @Html.Raw(WebNails.Utilities.PagingHelper.Page(ViewBag.Count, 5, WebNails.Utilities.PagingHelper.CountSort, "pagination"))
    </div>
</div>