<div class="slider-banner">
    <div class="sliders">
        <div class="slider-1">
            <div class="box-slider">
                <div class="image"></div>
                <div class="box-inner text-center">
                    <h1 class="font-Prata" data-animation-in="animate__animated animate__fadeInDown">PEDICURE</h1>
                    <div class="banner-button" data-animation-in="animate__animated animate__backInLeft">
                        <a class="btn btn-success btn-theme btn-none-border" data-animation-in="animate__animated animate__fadeInDown animate__delay-2s" href="@(!string.IsNullOrEmpty(string.Format("{0}", ViewBag.LinkBookingAppointment)) ? ViewBag.LinkBookingAppointment : ViewBag.HyperLinkTell)" target="_blank">
                            <i class="@(!string.IsNullOrEmpty(string.Format("{0}", ViewBag.LinkBookingAppointment)) ? "fa fa-calendar" : "fa fa-phone")"></i> @(!string.IsNullOrEmpty(string.Format("{0}", ViewBag.LinkBookingAppointment)) ? "APPOINTMENT" : "CALL US")
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-2">
            <div class="box-slider">
                <div class="image"></div>
                <div class="box-inner text-center">
                    <h1 class="font-Prata" data-animation-in="animate__animated animate__fadeInDown">MANICURE</h1>
                    <div class="banner-button" data-animation-in="animate__animated animate__fadeInDown">
                        <a class="btn btn-success btn-theme btn-none-border" data-animation-in="animate__animated animate__fadeInDown animate__delay-2s" href="@(!string.IsNullOrEmpty(string.Format("{0}", ViewBag.LinkBookingAppointment)) ? ViewBag.LinkBookingAppointment : ViewBag.HyperLinkTell)" target="_blank">
                            <i class="@(!string.IsNullOrEmpty(string.Format("{0}", ViewBag.LinkBookingAppointment)) ? "fa fa-calendar" : "fa fa-phone")"></i> @(!string.IsNullOrEmpty(string.Format("{0}", ViewBag.LinkBookingAppointment)) ? "APPOINTMENT" : "CALL US")
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-3">
            <div class="box-slider">
                <div class="image"></div>
                <div class="box-inner text-center">
                    <h1 class="font-Prata" data-animation-in="animate__animated animate__fadeInDown">EYELASH EXTENSIONS</h1>
                    <div class="banner-button" data-animation-in="animate__animated animate__backInLeft">
                        <a class="btn btn-success btn-theme btn-none-border" data-animation-in="animate__animated animate__fadeInDown animate__delay-2s" href="@(!string.IsNullOrEmpty(string.Format("{0}", ViewBag.LinkBookingAppointment)) ? ViewBag.LinkBookingAppointment : ViewBag.HyperLinkTell)" target="_blank">
                            <i class="@(!string.IsNullOrEmpty(string.Format("{0}", ViewBag.LinkBookingAppointment)) ? "fa fa-calendar" : "fa fa-phone")"></i> @(!string.IsNullOrEmpty(string.Format("{0}", ViewBag.LinkBookingAppointment)) ? "APPOINTMENT" : "CALL US")
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-4">
            <div class="box-slider">
                <div class="image"></div>
                <div class="box-inner text-center">
                    <h1 class="font-Prata" data-animation-in="animate__animated animate__fadeInDown">WAXING</h1>
                    <div class="banner-button" data-animation-in="animate__animated animate__fadeInDown">
                        <a class="btn btn-success btn-theme btn-none-border" data-animation-in="animate__animated animate__fadeInDown animate__delay-2s" href="@(!string.IsNullOrEmpty(string.Format("{0}", ViewBag.LinkBookingAppointment)) ? ViewBag.LinkBookingAppointment : ViewBag.HyperLinkTell)" target="_blank">
                            <i class="@(!string.IsNullOrEmpty(string.Format("{0}", ViewBag.LinkBookingAppointment)) ? "fa fa-calendar" : "fa fa-phone")"></i> @(!string.IsNullOrEmpty(string.Format("{0}", ViewBag.LinkBookingAppointment)) ? "APPOINTMENT" : "CALL US")
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
