<div class="slider-banner">
    <div class="sliders">
        <div class="slider-1">
            <div class="box-slider py-3">
                <div class="container-lg h-100">
                    <div class="row h-100 align-items-md-center">
                        <div class="col-md-6 pt-3 order-2 order-md-1">
                            <div class="box-inner text-center text-md-start p-md-3">
                                <h1 class="font-Prata" data-animation-in="animate__animated animate__backInLeft">Your Nails Specialist</h1>
                                <div class="banner-button" data-animation-in="animate__animated animate__backInLeft">
                                    <a href="@ViewBag.HyperLinkTell" class="btn btn-danger btn-theme btn-none-border"><i class="fa fa-phone"></i> Call Us</a>
                                </div>
                                <div class="banner-button mt-3" data-animation-in="animate__animated animate__backInLeft">
                                    <a href="@ViewBag.LinkBookingAppointment" class="btn btn-danger btn-theme btn-none-border"><i class="fa fa-calendar"></i> Booking Appointment</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 order-1 order-md-2">
                            <div class="image" data-animation-in="animate__animated animate__backInRight"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-2">
            <div class="box-slider">
                <div class="box-slider py-3">
                    <div class="container-lg h-100">
                        <div class="row h-100 align-items-md-center">
                            <div class="col-md-6 pt-3 order-2 order-md-1">
                                <div class="box-inner text-center text-md-start p-md-3">
                                    <h1 class="font-Prata" data-animation-in="animate__animated animate__backInLeft">All Services</h1>
                                    <div class="banner-button" data-animation-in="animate__animated animate__backInLeft">
                                        <a href="@ViewBag.HyperLinkTell" class="btn btn-danger btn-theme btn-none-border"><i class="fa fa-phone"></i> Call Us</a>
                                    </div>
                                    <div class="banner-button mt-3" data-animation-in="animate__animated animate__backInLeft">
                                        <a href="@ViewBag.LinkBookingAppointment" class="btn btn-danger btn-theme btn-none-border"><i class="fa fa-calendar"></i> Booking Appointment</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 order-1 order-md-2">
                                <div class="image" data-animation-in="animate__animated animate__backInRight"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-3">
            <div class="box-slider">
                <div class="box-slider py-3">
                    <div class="container-lg h-100">
                        <div class="row h-100 align-items-md-center">
                            <div class="col-md-6 pt-3 order-2 order-md-1">
                                <div class="box-inner text-center text-md-start p-md-3">
                                    <h1 class="font-Prata" data-animation-in="animate__animated animate__backInLeft">E-Gift Purchase</h1>
                                    <div class="banner-button" data-animation-in="animate__animated animate__backInLeft">
                                        <a href="@ViewBag.HyperLinkTell" class="btn btn-danger btn-theme btn-none-border"><i class="fa fa-phone"></i> Call Us</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 order-1 order-md-2">
                                <div class="image" data-animation-in="animate__animated animate__backInRight"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
