@{ 
    var Banner_Home = (List<Dictionary<string, string>>)ViewBag.Banner_Home;
}
<section class="slider-home">
    <div class="sliders">
        <div class="slider-1">
            <div class="box-image">
                <div class="image d-flex @(Banner_Home[0]["Text_ItemAlign"])">
                    <div class="container-lg">
                        <div class="row @(Banner_Home[0]["Text_JustifyContent"])">
                            <div class="col-auto col-xl-6">
                                <div class="box-inner text-center py-lg-5 py-md-3 py-2">
                                    <h1 class="fs-1">WELCOME TO</h1>
                                    <h2 class="fs-3"><strong>@(Html.Raw(string.Format("{0}", ViewBag.Name).Replace("Spa", "Spa<br/>")))</strong></h2>
                                    <div class="outline-button-theme">
                                        <a class="btn btn-warning btn-theme btn-more btn-none-border" href="@(!string.IsNullOrEmpty(string.Format("{0}", ViewBag.LinkBookingAppointment)) ? ViewBag.LinkBookingAppointment : ViewBag.HyperLinkTell)" target="_blank">
                                            <i class="@(!string.IsNullOrEmpty(string.Format("{0}", ViewBag.LinkBookingAppointment)) ? "fa fa-calendar" : "fa fa-phone")"></i> @(!string.IsNullOrEmpty(string.Format("{0}", ViewBag.LinkBookingAppointment)) ? "BOOK APPOINTMENT" : "CALL US")
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-2">
            <div class="box-image">
                <div class="image d-flex @(Banner_Home[1]["Text_ItemAlign"])">
                    <div class="container-lg">
                        <div class="row @(Banner_Home[1]["Text_JustifyContent"])">
                            <div class="col-auto">
                                <div class="box-inner text-center py-1">
                                    <h1 class="fs-1">WELCOME TO</h1>
                                    <h2 class="fs-3"><strong>@(Html.Raw(string.Format("{0}", ViewBag.Name).Replace("Spa", "Spa<br/>")))</strong></h2>
                                    <div class="outline-button-theme">
                                        <a class="btn btn-warning btn-theme btn-more btn-none-border" href="@(!string.IsNullOrEmpty(string.Format("{0}", ViewBag.LinkBookingAppointment)) ? ViewBag.LinkBookingAppointment : ViewBag.HyperLinkTell)" target="_blank">
                                            <i class="@(!string.IsNullOrEmpty(string.Format("{0}", ViewBag.LinkBookingAppointment)) ? "fa fa-calendar" : "fa fa-phone")"></i> @(!string.IsNullOrEmpty(string.Format("{0}", ViewBag.LinkBookingAppointment)) ? "BOOK APPOINTMENT" : "CALL US")
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-3">
            <div class="box-image">
                <div class="image d-flex @(Banner_Home[2]["Text_ItemAlign"])">
                    <div class="container-lg">
                        <div class="row @(Banner_Home[2]["Text_JustifyContent"])">
                            <div class="col-auto">
                                <div class="box-inner text-center py-1">
                                    <h1 class="fs-1">WELCOME TO</h1>
                                    <h2 class="fs-3"><strong>@(Html.Raw(string.Format("{0}", ViewBag.Name).Replace("Spa", "Spa<br/>")))</strong></h2>
                                    <div class="outline-button-theme">
                                        <a class="btn btn-warning btn-theme btn-more btn-none-border" href="@(!string.IsNullOrEmpty(string.Format("{0}", ViewBag.LinkBookingAppointment)) ? ViewBag.LinkBookingAppointment : ViewBag.HyperLinkTell)" target="_blank">
                                            <i class="@(!string.IsNullOrEmpty(string.Format("{0}", ViewBag.LinkBookingAppointment)) ? "fa fa-calendar" : "fa fa-phone")"></i> @(!string.IsNullOrEmpty(string.Format("{0}", ViewBag.LinkBookingAppointment)) ? "BOOK APPOINTMENT" : "CALL US")
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-4">
            <div class="box-image">
                <div class="image d-flex @(Banner_Home[3]["Text_ItemAlign"])">
                    <div class="container-lg">
                        <div class="row @(Banner_Home[3]["Text_JustifyContent"])">
                            <div class="col-auto">
                                <div class="box-inner text-center py-1">
                                    <h1 class="fs-1">WELCOME TO</h1>
                                    <h2 class="fs-3"><strong>@(Html.Raw(string.Format("{0}", ViewBag.Name).Replace("Spa", "Spa<br/>")))</strong></h2>
                                    <div class="outline-button-theme">
                                        <a class="btn btn-warning btn-theme btn-more btn-none-border" href="@(!string.IsNullOrEmpty(string.Format("{0}", ViewBag.LinkBookingAppointment)) ? ViewBag.LinkBookingAppointment : ViewBag.HyperLinkTell)" target="_blank">
                                            <i class="@(!string.IsNullOrEmpty(string.Format("{0}", ViewBag.LinkBookingAppointment)) ? "fa fa-calendar" : "fa fa-phone")"></i> @(!string.IsNullOrEmpty(string.Format("{0}", ViewBag.LinkBookingAppointment)) ? "BOOK APPOINTMENT" : "CALL US")
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="slider-5">
            <div class="box-image">
                <div class="image d-flex @(Banner_Home[4]["Text_ItemAlign"])">
                    <div class="container-lg">
                        <div class="row @(Banner_Home[4]["Text_JustifyContent"])">
                            <div class="col-auto">
                                <div class="box-inner text-center py-3" data-animation-in="animate__animated animate__fadeInDown">
                                    <h1 class="font-Prata fs-1">All Services</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    </div>
</section>