@model IEnumerable<WebNails.Models.GalleryModel>
@{
    ViewBag.Title = "Gallery";
    var TabIndex = (int)(ViewBag.TabIndex ?? 1);
    var ShowMore = (bool)(ViewBag.ShowMore ?? false);

    var IsFade_PageBanner = (bool)ViewBag.IsFade_PageBanner;
    var Image_Gallery_Rounded = ViewBag.Image_Gallery_Rounded ?? "0";
}
@section css{
    <link href="~/Content/css/animate.min.css" rel="stylesheet">
    <link href="~/Content/css/slick.css" rel="stylesheet">
    <link href="~/Content/css/slick-theme.css" rel="stylesheet">
    <link href="~/Content/css/lightbox.min.css" rel="stylesheet" />
    <link href="~/Content/css/slider.css" rel="stylesheet">
    <link href="~/Content/css/page-gallery.css" rel="stylesheet">
}
@section custom_css{
    <link href="~/Content/custom-css/site.css" rel="stylesheet">
}
<main>
    @{Html.RenderPartial("_SliderPageSub");}
    <div class="page-main container-lg">
        <div class="row">
            <div class="col-lg-12 d-block text-center my-5"><h1 class="fs-1"><span class="font-Parisienne text-theme fw-bold">@(ViewBag.Title)</span></h1></div>
        </div>
        <div class="row justify-content-center py-5">
            <div class="col-md-3">
                <div class="border border-dark text-center text-white py-3 @(TabIndex == 1 ? "bg-theme" : "") fw-bold cursor-pointer" onclick="ChangeTabIndex(1)">
                    <span>Nail Design</span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="border border-dark text-center text-white py-3 @(TabIndex == 2 ? "bg-theme" : "") fw-bold cursor-pointer" onclick="ChangeTabIndex(2)">
                    <span>Hair Design</span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="border border-dark text-center text-white py-3 @(TabIndex == 3 ? "bg-theme" : "") fw-bold cursor-pointer" onclick="ChangeTabIndex(3)">
                    <span>Salon Photo</span>
                </div>
            </div>
        </div>
        <div class="row pb-5 gallery-list">
            @{
                foreach (var item in Model)
                {
                    <div class="col-xl-3 col-lg-4 col-md-6 pt-4">
                        <div class="box-inner rounded rounded-@(Image_Gallery_Rounded)">
                            <a href="@item.Src" data-lightbox="gallery-item" data-title="">
                                <img src="@item.Src" loading="lazy" class="img-fluid rounded rounded-@(Image_Gallery_Rounded)" />
                            </a>
                        </div>
                    </div>
                }
            }
        </div>
        @if (ShowMore)
        {
            <div class="row justify-content-center pb-5 gallery-loadmore">
                <div class="col-md-12 text-center">
                    <button class="btn btn-primary btn-theme" onclick="LoadMore()">LOAD MORE</button>
                </div>
            </div>
        }
    </div>
</main>

@section scripts{
    <script src="~/Content/js/slick.min.js"></script>
    <script src="~/Content/js/slick-animation.js"></script>
    <script src="~/Content/js/lightbox.js"></script>
    <script type="text/javascript">
        ActiveMenu("menu-gallery");

        var sliderInit = $('.sliders');
        var indexPage = 2;
        var tabIndex = @(TabIndex);
        $(document).ready(function () {
            sliderInit.slick({
                dots: false,
                infinite: true,
                slidesToShow: 1,
                arrows: false,
                autoplay: true,
                autoplaySpeed: 4000,
                fade: @(IsFade_PageBanner ? "true" : "false"),
                draggable: false,
                pauseOnFocus: false,
                pauseOnHover: false,
                touchMove: false
            });
            sliderInit.slickAnimation();

            sliderInit.on('touchstart', e => {
                sliderInit.slick('slickPlay');
            });
        });

        function ChangeTabIndex(tab) {
            location.href = "/gallery.html?TabIndex=" + tab;
        }

        function LoadMore() {
            $.ajax({
                type: 'POST',
                url: "/gallery-loadmore",
                data: { TabIndex: tabIndex, Page: indexPage },
                success: function (data) {
                    var galleries = data.Galleries;
                    for (var i = 0; i < galleries.length; i++) {
                        var item = galleries[i];
                        var strHTML = '<div class="col-xl-3 col-lg-4 col-md-6 pt-4">';
                        strHTML += '        <div class="box-inner rounded rounded-@(Image_Gallery_Rounded)">';
                        strHTML += '            <a href="' + item.Src + '" data-lightbox="gallery-item" data-title="">';
                        strHTML += '                <img src="' + item.Src + '" loading="lazy" class="img-fluid rounded rounded-@(Image_Gallery_Rounded)" />';
                        strHTML += '            </a>';
                        strHTML += '        </div>';
                        strHTML += '    </div>';
                        $(".gallery-list").append(strHTML);
                    }
                    indexPage = indexPage + 1;
                    var ShowMore = data.ShowMore;
                    if (ShowMore) {
                        $(".gallery-loadmore").show();
                    }
                    else {
                        $(".gallery-loadmore").hide();
                    }
                }
            });
        }
    </script>
}