@{
    ViewBag.Title = "E Gift";
}
@section css{
    <link href="~/Content/css/animate.min.css" rel="stylesheet">
    <link href="~/Content/css/slick.css" rel="stylesheet">
    <link href="~/Content/css/slick-theme.css" rel="stylesheet">
    <link href="~/Content/css/slider.css" rel="stylesheet">
}
<main>
    <div class="slider-banner">
        <div class="banner">
            <div class="banner-image banner-one">
                <img src="~/Content/images/banner/female-hands-with-beautiful-manicure-chrysanthemum-flowers6-scaled.jpeg" alt="">
            </div>
            <div class="banner-detail">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 banner-detail-first order-md-1 order-2">
                            <div class="banner-text">
                                <div class="banner-title font-Prata" data-animation-in="animate__animated animate__backInLeft">Your Nails  Specialist</div>
                                <div class="banner-button" data-animation-in="animate__animated animate__backInLeft">
                                    <a href="@ViewBag.HyperLinkTell" class="btn btn-default btn-call">Call Us <i class="fa fa-long-arrow-right"></i></a>
                                </div>
                            </div>
                            <div class="img-dot" data-animation-in="animate__animated animate__bounceInUp">
                                <img src="~/Content/images/lines.png" class="img-fluid" alt="">
                            </div>
                        </div>
                        <div class="col-sm-6 banner-detail-last order-md-2 order-1" data-animation-in="animate__animated animate__backInRight">
                            <img src="~/Content/images/banner/girl-s-hands-with-delicate-purple-manicure-orchid-flowers-scaled.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner">
            <div class="banner-image banner-two">
                <img src="~/Content/images/banner/7-scaled.jpeg" alt="">
            </div>
            <div class="banner-detail">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 banner-detail-first order-md-1 order-2">
                            <div class="banner-text">
                                <div class="banner-title" data-animation-in="animate__animated animate__backInLeft">All Services</div>
                                <div class="banner-button" data-animation-in="animate__animated animate__backInLeft">
                                    <a href="@ViewBag.HyperLinkTell" class="btn btn-default btn-call">Call Us <i class="fa fa-long-arrow-right"></i></a>
                                </div>
                            </div>
                            <div class="img-dot" data-animation-in="animate__animated animate__bounceInUp">
                                <img src="~/Content/images/dots.png" class="img-fluid" alt="">
                            </div>
                        </div>
                        <div class="col-sm-6 banner-detail-last order-md-2 order-1" data-animation-in="animate__animated animate__backInRight">
                            <img src="~/Content/images/banner/hands-woman-with-pink-manicure-nails-pink-flowers-scaled.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner">
            <div class="banner-image banner-three">
                <img src="~/Content/images/banner/female-hands-with-beautiful-manicure-chrysanthemum-flowers-scaled.jpeg" alt="">
            </div>
            <div class="banner-detail">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 banner-detail-first order-md-1 order-2">
                            <div class="banner-text">
                                <div class="banner-title font-Prata" data-animation-in="animate__animated animate__backInLeft">E-Gift Purchase</div>
                                <div class="banner-button" data-animation-in="animate__animated animate__backInLeft">
                                    <a href="@ViewBag.HyperLinkTell" class="btn btn-default btn-call">Call Us <i class="fa fa-long-arrow-right"></i></a>
                                </div>
                            </div>
                            <div class="img-dot" data-animation-in="animate__animated animate__bounceInUp">
                                <img src="~/Content/images/dots.png" class="img-fluid" alt="">
                            </div>
                        </div>
                        <div class="col-sm-6 banner-detail-last order-md-2 order-1" data-animation-in="animate__animated animate__backInRight">
                            <img src="~/Content/images/banner/woman-hands-with-beautiful-rose-petals-towel-close-up-scaled.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="container">
        <div class="row justify-content-center my-5">
            <div class="col-sm-4 pt-4">
                <a href="@ViewBag.HyperLinkTell">
                    <img alt="e gift for you" src="~/Content/images/e-gift/valentine_s-scaled.jpg" loading="lazy" class="img-fluid" />
                </a>
            </div>
            <div class="col-sm-4 pt-4">
                <a href="@ViewBag.HyperLinkTell">
                    <img alt="e gift for you" src="~/Content/images/e-gift/e-gift-for-you-02-scaled.jpg" loading="lazy" class="img-fluid" />
                </a>
            </div>
            <div class="col-sm-4 pt-4">
                <a href="@ViewBag.HyperLinkTell">
                    <img alt="e gift for you" src="~/Content/images/e-gift/N_30112016194649250-01-scaled.jpg" loading="lazy" class="img-fluid" />
                </a>
            </div>
            <div class="col-sm-4 pt-4">
                <a href="@ViewBag.HyperLinkTell">
                    <img alt="e gift for you" src="~/Content/images/e-gift/N_30112016194630312-01-scaled.jpg" loading="lazy" class="img-fluid" />
                </a>
            </div>
            <div class="col-sm-4 pt-4">
                <a href="@ViewBag.HyperLinkTell">
                    <img alt="e gift for you" src="~/Content/images/e-gift/N_25201814329125-01-scaled.jpg" loading="lazy" class="img-fluid" />
                </a>
            </div>
            <div class="col-sm-4 pt-4">
                <a href="@ViewBag.HyperLinkTell">
                    <img alt="e gift for you" src="~/Content/images/e-gift/merry-christmas-scaled.jpg" loading="lazy" class="img-fluid" />
                </a>
            </div>
            <div class="col-sm-4 pt-4">
                <a href="@ViewBag.HyperLinkTell">
                    <img alt="e gift for you" src="~/Content/images/e-gift/merry-christmas-2-scaled.jpg" loading="lazy" class="img-fluid" />
                </a>
            </div>
            <div class="col-sm-4 pt-4">
                <a href="@ViewBag.HyperLinkTell">
                    <img alt="e gift for you" src="~/Content/images/e-gift/happy-birthday-01-scaled.jpg" loading="lazy" class="img-fluid" />
                </a>
            </div>
            <div class="col-sm-4 pt-4">
                <a href="@ViewBag.HyperLinkTell">
                    <img alt="e gift for you" src="~/Content/images/e-gift/happy-birthday-2-01-scaled.jpg" loading="lazy" class="img-fluid" />
                </a>
            </div>
            <div class="col-sm-4 pt-4">
                <a href="@ViewBag.HyperLinkTell">
                    <img alt="e gift for you" src="~/Content/images/e-gift/graduation-scaled.jpg" loading="lazy" class="img-fluid" />
                </a>
            </div>
            <div class="col-sm-4 pt-4">
                <a href="@ViewBag.HyperLinkTell">
                    <img alt="e gift for you" src="~/Content/images/e-gift/gift-01-scaled.jpg" loading="lazy" class="img-fluid" />
                </a>
            </div>
            <div class="col-sm-4 pt-4">
                <a href="@ViewBag.HyperLinkTell">
                    <img alt="e gift for you" src="~/Content/images/e-gift/e-gift-for-you-scaled.jpg" loading="lazy" class="img-fluid" />
                </a>
            </div>
            <div class="col-sm-4 pt-4">
                <a href="@ViewBag.HyperLinkTell">
                    <img alt="e gift for you" src="~/Content/images/e-gift/a-gift-for-you-01-scaled.jpg" loading="lazy" class="img-fluid" />
                </a>
            </div>
            <div class="col-sm-4 pt-4">
                <a href="@ViewBag.HyperLinkTell">
                    <img alt="e gift for you" src="~/Content/images/e-gift/993-01-scaled.jpg" loading="lazy" class="img-fluid" />
                </a>
            </div>
        </div>
    </section>
</main>

@section scripts{
    <script src="~/Content/js/slick.min.js"></script>
    <script src="~/Content/js/slick-animation.js"></script>
    <script type="text/javascript">
        ActiveMenu("menu-e-gift");

        var sliderInit = $('.slider-banner');

        $(document).ready(function () {
            sliderInit.slick({
                dots: false,
                slidesToShow: 1,
                arrows: false,
                autoplay: true,
                autoplaySpeed: 3000,
                easing: 'linear'
            });
            sliderInit.slickAnimation();
        });
    </script>
}