@{
    ViewBag.Title = ViewBag.Name;
    var showCoupon = (bool)ViewBag.ShowCoupon;
    var Coupons = (List<WebNails.Models.CouponModel>)ViewBag.Coupons;
    Coupons = Coupons.Where(x => x.Src != "" && x.Status).ToList();
}
@section css{
    <link href="~/Content/css/animate.min.css" rel="stylesheet">
    <link href="~/Content/css/slick.css" rel="stylesheet">
    <link href="~/Content/css/slick-theme.css" rel="stylesheet">
    <link href="~/Content/css/slider.css" rel="stylesheet">
    <link href="~/Content/css/page-home.css" rel="stylesheet">
}
<main>
    @{ Html.RenderPartial("_SliderHome_1"); }
    <section class="about-us">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 order-lg-1 order-2 py-3">
                    <div class="row">
                        <div class="col-xl-8 offset-xl-4 about-us-inner">
                            <div class="box-inner">
                                <h1>About Us</h1>
                                @Html.Raw(string.Format("{0}", ViewBag.HomeAboutUs))
                                <a class="btn btn-default btn-more btn-border btn-border-black" href="about-us.html">VIEW MORE</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 order-lg-2 order-1">
                    <div class="box-image">
                        <div class="image-about-us"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="beauty-spa py-5">
        <div class="beauty-spa-inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="box-inner">
                            <div class="text-center">
                                <h2 class="font-Prata">BEAUTY – SPA</h2>
                                <div class="divider mb-3"></div>
                                <p><strong>What We Offer</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="box-image">
                            <div class="image1">
                                <div class="text-center">
                                    <h2 class="font-Prata">PEDICURE</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="box-image">
                            <div class="image2">
                                <div class="text-center">
                                    <h2 class="font-Prata">MANICURE</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="box-image">
                            <div class="image3">
                                <div class="text-center">
                                    <h2 class="font-Prata">EYELASH EXTENSIONS</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="box-image">
                            <div class="image4">
                                <div class="text-center">
                                    <h2 class="font-Prata">WAXING</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 py-5">
                        <div class="text-center">
                            <a class="btn btn-default btn-more btn-border btn-border-black" href="services.html">VIEW MORE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="services">
        <div class="bg-services">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 py-3">
                        <div class="box-inner">
                            <p><img src="~/Content/images/icon2--300x219.png" alt="" class="img-fluid" /></p>
                            <p>SIGNATURE PEDI & MANI FOR LUXURY SPA EXPERIENCE</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 py-3">
                        <div class="box-inner">
                            <p><img src="~/Content/images/icon1-01-300x300.png" alt="" class="img-fluid" /></p>
                            <p>SAFE & HEALTHY NAIL CARE SERVICES</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 py-3">
                        <div class="box-inner">
                            <p><img src="~/Content/images/icon3--300x300.png" alt="" class="img-fluid" /></p>
                            <p>COMPETITIVE PRICES AND A WIDE RANGE OF SERVICES</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="business">
        <div class="business-inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 order-lg-1 order-2 py-3">
                        <div class="box-inner">
                            <div class="text-center">
                                <h2>Business Hour</h2>
                                <div class="divider mb-3"></div>
                                @Html.Raw(string.Format("{0}", ViewBag.BusinessHours))
                                <a class="btn btn-default btn-more btn-border btn-border-black" href="@(!string.IsNullOrEmpty(string.Format("{0}", ViewBag.LinkBookingAppointment)) ? ViewBag.LinkBookingAppointment : ViewBag.HyperLinkTell)" target="_blank">
                                    @(!string.IsNullOrEmpty(string.Format("{0}", ViewBag.LinkBookingAppointment)) ? "Book Appointment" : "call us") <i class="@(!string.IsNullOrEmpty(string.Format("{0}", ViewBag.LinkBookingAppointment)) ? "fa fa-calendar" : "fa fa-phone")"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 order-lg-2 order-1 py-3">
                        <div class="box-image">
                            <div class="image-business"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="e-gift">
        <div class="e-gift-inner">
            <div class="container py-md-3">
                <div class="row">
                    <div class="col-lg-6 py-3">
                        <div class="box-image">
                            <div class="image-e-gift"></div>
                        </div>
                    </div>
                    <div class="col-lg-6 py-3">
                        <div class="box-inner">
                            <div class="text-center">
                                <h2>E-gift Purchase</h2>
                                <div class="divider mb-3"></div>
                                <a class="btn btn-default btn-more btn-border btn-border-black" href="e-gift.html">VIEW MORE</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="contact">
        <div class="bg-contact">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col align-self-center pb-lg-5">
                        <div class="box-inner text-center">
                            <h2 class="font-Prata">CONTACT US</h2>
                            <a class="btn btn-default btn-more btn-border btn-border-black" href="contact.html">VIEW MORE</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-3 py-3">
                        <div class="contact-images">
                            <div class="image1"></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 py-3">
                        <div class="contact-images">
                            <div class="image2"></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 py-3">
                        <div class="contact-images">
                            <div class="image3"></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 py-3">
                        <div class="contact-images">
                            <div class="image4"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="map">
        <iframe src="@ViewBag.LinkIFrameGoogleMap" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>
</main>
@section modal{
    @if (showCoupon && Coupons.Count > 0)
    {
        var index = 1;
        <div class="modal fade" id="ModalCoupon" tabindex="-1" aria-labelledby="ModalCouponLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="slider-coupon">
                            @foreach(var item in Coupons)
                            {
                                <div class="coupon" @(index > 1 ? "style=display:none;" : "")>
                                    <img src="@item.Src" class="img-fluid" />
                                </div>
                                index++;
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
@section scripts{
    <script src="~/Content/js/slick.min.js"></script>
    <script src="~/Content/js/slick-animation.js"></script>
    <script type="text/javascript">
        ActiveMenu("menu-home");

        var sliderInit = $('.sliders');
        var sliderCoupon = $('.slider-coupon');

        $(document).ready(function () {

            sliderInit.slick({
                dots: false,
                infinite: true,
                slidesToShow: 1,
                arrows: false,
                autoplay: true,
                autoplaySpeed: 4000,
                fade: true,
                draggable: false,
                pauseOnFocus: false,
                pauseOnHover: false,
                touchMove: false
            });
            sliderInit.slickAnimation();

            sliderInit.on('touchstart', e => {
                sliderInit.slick('slickPlay');
            });

            @{ 
                if (showCoupon && Coupons.Count > 0) 
                { 
                    <text>
                    $("#ModalCoupon").modal("show");

                    $("#ModalCoupon").on('shown.bs.modal', function () {
                        $("#ModalCoupon .modal-body .slider-coupon .coupon").show();
                        sliderCoupon.slick({
                            dots: false,
                            infinite: true,
                            slidesToShow: 1,
                            arrows: false,
                            autoplay: true,
                            autoplaySpeed: 3000,
                            fade: true,
                            adaptiveHeight: true,
                            draggable: false,
                            pauseOnFocus: false,
                            pauseOnHover: false,
                            touchMove: false
                        });
                    });

                    sliderCoupon.on('touchstart', e => {
                        sliderCoupon.slick('slickPlay');
                    });
                    </text>
                }
            }
            
        });
    </script>
}